/* Contact Us Page */
.contact-detail {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  a {

    padding-right: 15px;
    padding-bottom: 15px;
    color: #333333;
    span {
      margin-right: 15px;
      background: #e3f4fb;
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 55px;
      text-align: center;
      vertical-align: middle;
      -webkit-border-radius: 7px;
      border-radius: 7px;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: #29a9e1;
    }
  }
  @include media_min(sm) {
    flex-direction: row;
  }
  @include media_min(md) {
    font-size: 22px;
    font-weight: 600;
  }
  @include media_min(lg) {
    flex-direction: column;    
  }
  @include media_min(xxl) {
    flex-direction: row;
  }
}
.contact-location {
  overflow: hidden;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  iframe {
    display: block;
  }  
}
.section-contact {
  .form-field {
    margin-bottom: 20px;
  }
  .form-control {
    border: 2px solid #d2e9fb;
  }
  .form {
    margin-top: 0;
    @include media(md) {    
      margin-top: 40px;
      &:before {
        content: 'Contact Form';
        display: block;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
  }
}